<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sl.tmpp.common.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="top.sl.tmpp.common.entity.Book">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_category" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="teacher_book_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="award_Information" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="publication_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="subscriber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="subscriber_tel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_book_purchase" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="login_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_buy_book" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="execute_plan_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="IdAndStatusResultMap" type="top.sl.tmpp.common.entity.Book">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="BookDTOResultMap" type="top.sl.tmpp.common.pojo.BookDTO">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="course_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="course_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_category" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="teacher_book_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="award_Information" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="publication_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="subscriber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="subscriber_tel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_book_purchase" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="login_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="BookReviewDTOResultMap" type="top.sl.tmpp.common.pojo.BookReviewDTO">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="course_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="course_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_category" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="teacher_book_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="award_Information" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="publication_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="subscriber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="subscriber_tel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_book_purchase" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="login_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_buy_book" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            isbn,
            text_book_name,
            text_book_category,
            press,
            author,
            unit_price,
            teacher_book_number,
            discount,
            award_Information,
            publication_date,
            subscriber,
            subscriber_tel,
            is_book_purchase,
            reason,
            login_user_id,
            is_buy_book,
            execute_plan_id,
            status,
            gmt_modified,
            gmt_create
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from book
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="top.sl.tmpp.common.entity.Book">
        insert into book (id, isbn, text_book_name,
                          text_book_category, press, author,
                          unit_price, teacher_book_number, discount,
                          award_Information, publication_date, subscriber,
                          subscriber_tel, is_book_purchase, reason,
                          login_user_id, is_buy_book, execute_plan_id,
                          status, gmt_modified, gmt_create)
        values (#{id,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{textBookName,jdbcType=VARCHAR},
                #{textBookCategory,jdbcType=BIT}, #{press,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
                #{unitPrice,jdbcType=DECIMAL}, #{teacherBookNumber,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL},
                #{awardInformation,jdbcType=VARCHAR}, #{publicationDate,jdbcType=TIMESTAMP},
                #{subscriber,jdbcType=VARCHAR},
                #{subscriberTel,jdbcType=VARCHAR}, #{isBookPurchase,jdbcType=BIT}, #{reason,jdbcType=VARCHAR},
                #{loginUserId,jdbcType=VARCHAR}, #{isBuyBook,jdbcType=BIT}, #{executePlanId,jdbcType=VARCHAR},
                #{status,jdbcType=INTEGER}, #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="top.sl.tmpp.common.entity.Book">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="isbn != null">
                isbn,
            </if>
            <if test="textBookName != null">
                text_book_name,
            </if>
            <if test="textBookCategory != null">
                text_book_category,
            </if>
            <if test="press != null">
                press,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="teacherBookNumber != null">
                teacher_book_number,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="awardInformation != null">
                award_Information,
            </if>
            <if test="publicationDate != null">
                publication_date,
            </if>
            <if test="subscriber != null">
                subscriber,
            </if>
            <if test="subscriberTel != null">
                subscriber_tel,
            </if>
            <if test="isBookPurchase != null">
                is_book_purchase,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="loginUserId != null">
                login_user_id,
            </if>
            <if test="isBuyBook != null">
                is_buy_book,
            </if>
            <if test="executePlanId != null">
                execute_plan_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="isbn != null">
                #{isbn,jdbcType=VARCHAR},
            </if>
            <if test="textBookName != null">
                #{textBookName,jdbcType=VARCHAR},
            </if>
            <if test="textBookCategory != null">
                #{textBookCategory,jdbcType=BIT},
            </if>
            <if test="press != null">
                #{press,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="teacherBookNumber != null">
                #{teacherBookNumber,jdbcType=INTEGER},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=DECIMAL},
            </if>
            <if test="awardInformation != null">
                #{awardInformation,jdbcType=VARCHAR},
            </if>
            <if test="publicationDate != null">
                #{publicationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="subscriber != null">
                #{subscriber,jdbcType=VARCHAR},
            </if>
            <if test="subscriberTel != null">
                #{subscriberTel,jdbcType=VARCHAR},
            </if>
            <if test="isBookPurchase != null">
                #{isBookPurchase,jdbcType=BIT},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="loginUserId != null">
                #{loginUserId,jdbcType=VARCHAR},
            </if>
            <if test="isBuyBook != null">
                #{isBuyBook,jdbcType=BIT},
            </if>
            <if test="executePlanId != null">
                #{executePlanId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.sl.tmpp.common.entity.Book">
        update book
        <set>
            <if test="isbn != null">
                isbn = #{isbn,jdbcType=VARCHAR},
            </if>
            <if test="textBookName != null">
                text_book_name = #{textBookName,jdbcType=VARCHAR},
            </if>
            <if test="textBookCategory != null">
                text_book_category = #{textBookCategory,jdbcType=BIT},
            </if>
            <if test="press != null">
                press = #{press,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="teacherBookNumber != null">
                teacher_book_number = #{teacherBookNumber,jdbcType=INTEGER},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=DECIMAL},
            </if>
            <if test="awardInformation != null">
                award_Information = #{awardInformation,jdbcType=VARCHAR},
            </if>
            <if test="publicationDate != null">
                publication_date = #{publicationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="subscriber != null">
                subscriber = #{subscriber,jdbcType=VARCHAR},
            </if>
            <if test="subscriberTel != null">
                subscriber_tel = #{subscriberTel,jdbcType=VARCHAR},
            </if>
            <if test="isBookPurchase != null">
                is_book_purchase = #{isBookPurchase,jdbcType=BIT},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="loginUserId != null">
                login_user_id = #{loginUserId,jdbcType=VARCHAR},
            </if>
            <if test="isBuyBook != null">
                is_buy_book = #{isBuyBook,jdbcType=BIT},
            </if>
            <if test="executePlanId != null">
                execute_plan_id = #{executePlanId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.sl.tmpp.common.entity.Book">
        update book
        set isbn                = #{isbn,jdbcType=VARCHAR},
            text_book_name      = #{textBookName,jdbcType=VARCHAR},
            text_book_category  = #{textBookCategory,jdbcType=BIT},
            press               = #{press,jdbcType=VARCHAR},
            author              = #{author,jdbcType=VARCHAR},
            unit_price          = #{unitPrice,jdbcType=DECIMAL},
            teacher_book_number = #{teacherBookNumber,jdbcType=INTEGER},
            discount            = #{discount,jdbcType=DECIMAL},
            award_Information   = #{awardInformation,jdbcType=VARCHAR},
            publication_date    = #{publicationDate,jdbcType=TIMESTAMP},
            subscriber          = #{subscriber,jdbcType=VARCHAR},
            subscriber_tel      = #{subscriberTel,jdbcType=VARCHAR},
            is_book_purchase    = #{isBookPurchase,jdbcType=BIT},
            reason              = #{reason,jdbcType=VARCHAR},
            login_user_id       = #{loginUserId,jdbcType=VARCHAR},
            is_buy_book         = #{isBuyBook,jdbcType=BIT},
            execute_plan_id     = #{executePlanId,jdbcType=VARCHAR},
            status              = #{status,jdbcType=INTEGER},
            gmt_modified        = #{gmtModified,jdbcType=TIMESTAMP},
            gmt_create          = #{gmtCreate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectMyBook" resultMap="BookDTOResultMap">
        SELECT book.id,
               plan.course_code,
               plan.course_name,
               book.isbn,
               book.text_book_name,
               book.text_book_category,
               book.press,
               book.author,
               book.unit_price,
               book.teacher_book_number,
               book.discount,
               book.award_Information,
               book.publication_date,
               book.subscriber,
               book.subscriber_tel,
               book.is_book_purchase,
               book.reason,
               book.login_user_id,
               book.`status`,
               book.gmt_modified,
               book.gmt_create
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan_book.plan_id = plan.id
        WHERE book.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
          AND login_user_id = #{loginUserId,jdbcType=VARCHAR}
        GROUP BY book.isbn, book.reason,
                 plan.course_code
    </select>
    <select id="selectReviews" resultMap="BookDTOResultMap" parameterType="java.lang.String">
        SELECT book.id,
               plan.course_code,
               plan.course_name,
               book.isbn,
               book.text_book_name,
               book.text_book_category,
               book.press,
               book.author,
               book.unit_price,
               book.teacher_book_number,
               book.discount,
               book.award_Information,
               book.publication_date,
               book.subscriber,
               book.subscriber_tel,
               book.is_book_purchase,
               book.reason,
               book.login_user_id,
               book.`status`,
               book.gmt_modified,
               book.gmt_create
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan_book.plan_id = plan.id
        WHERE book.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
        GROUP BY book.isbn, book.reason,
                 plan.course_code
    </select>
    <select id="selectAllByExecutePlanId" resultMap="BookReviewDTOResultMap">

        SELECT book.id,
               plan.course_code,
               plan.course_name,
               book.isbn,
               book.text_book_name,
               book.text_book_category,
               book.press,
               book.author,
               book.unit_price,
               book.teacher_book_number,
               book.discount,
               book.award_Information,
               book.publication_date,
               book.subscriber,
               book.subscriber_tel,
               book.is_book_purchase,
               book.reason,
               book.login_user_id,
               book.is_buy_book,
               book.status,
               book.gmt_modified,
               book.gmt_create
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan_book.plan_id = plan.id
        WHERE book.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}

        GROUP BY book.isbn, book.reason,
                 plan.course_code
    </select>
    <select id="selectIdAndStatus" resultMap="IdAndStatusResultMap">
        SELECT book.id,
               book.status
        FROM book
        WHERE execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
    </select>
    <select id="selectByPlanId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book inner join plan_book on plan_book.book_id=book.id where plan_book.plan_id = #{planId,jdbcType=VARCHAR}
    </select>
</mapper>