<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sl.tmpp.common.mapper.CasMapper">
    <resultMap id="AdminResourceMap" type="top.sl.tmpp.common.entity.AdminResource">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="method" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <select id="getResourcesByUserName" resultMap="AdminResourceMap">
        SELECT admin_resource.id,
               admin_resource.url,
               admin_resource.method,
               admin_resource.gmt_create,
               admin_resource.gmt_modified
        FROM admin_resource,
             admin_user_role_resource
        WHERE admin_user_role_resource.user_role_id = (SELECT id
                                                       FROM admin_user_role
                                                       WHERE type = (SELECT type
                                                                     FROM admin_user
                                                                     WHERE username = #{username,jdbcType=VARCHAR}))
          AND admin_resource.id = admin_user_role_resource.resource_id;
    </select>
</mapper>