<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sl.tmpp.common.mapper.ExecutePlanMapper">
    <resultMap id="BaseResultMap" type="top.sl.tmpp.common.entity.ExecutePlan">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="year" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="term" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="file_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="level_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="department_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="top.sl.tmpp.common.entity.ExecutePlan">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="year" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="term" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="file_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="level_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="department_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="file" javaType="_byte[]" jdbcType="LONGVARBINARY"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBsAndFileType" type="top.sl.tmpp.common.entity.ExecutePlan">
        <constructor>
            <arg column="file_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file" javaType="_byte[]" jdbcType="LONGVARBINARY"/>
        </constructor>
    </resultMap>
    <resultMap id="ExecutePlanDTOResultMap" type="top.sl.tmpp.common.pojo.ExecutePlanDTO">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="year" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="term" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="level" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="department" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gmt_finished" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            year,
            term,
            grade,
            status,
            file_type,
            level_id,
            department_id,
            gmt_modified,
            gmt_create
    </sql>
    <sql id="Blob_Column_List">
            file
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from execute_plan
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from execute_plan
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="top.sl.tmpp.common.entity.ExecutePlan">
        insert into execute_plan (id, year, term, grade,
                                  status, file_type, level_id,
                                  department_id, gmt_modified, gmt_create,
                                  file)
        values (#{id,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{term,jdbcType=BIT}, #{grade,jdbcType=INTEGER},
                #{status,jdbcType=BIT}, #{fileType,jdbcType=VARCHAR}, #{levelId,jdbcType=VARCHAR},
                #{departmentId,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP},
                #{file,jdbcType=LONGVARBINARY})
    </insert>
    <insert id="insertSelective" parameterType="top.sl.tmpp.common.entity.ExecutePlan">
        insert into execute_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="year != null">
                year,
            </if>
            <if test="term != null">
                term,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="levelId != null">
                level_id,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="file != null">
                file,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="year != null">
                #{year,jdbcType=VARCHAR},
            </if>
            <if test="term != null">
                #{term,jdbcType=BIT},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="levelId != null">
                #{levelId,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="file != null">
                #{file,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.sl.tmpp.common.entity.ExecutePlan">
        update execute_plan
        <set>
            <if test="year != null">
                year = #{year,jdbcType=VARCHAR},
            </if>
            <if test="term != null">
                term = #{term,jdbcType=BIT},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="levelId != null">
                level_id = #{levelId,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="file != null">
                file = #{file,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.sl.tmpp.common.entity.ExecutePlan">
        update execute_plan
        set year          = #{year,jdbcType=VARCHAR},
            term          = #{term,jdbcType=BIT},
            grade         = #{grade,jdbcType=INTEGER},
            status        = #{status,jdbcType=BIT},
            file_type     = #{fileType,jdbcType=VARCHAR},
            level_id      = #{levelId,jdbcType=VARCHAR},
            department_id = #{departmentId,jdbcType=VARCHAR},
            gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP},
            gmt_create    = #{gmtCreate,jdbcType=TIMESTAMP},
            file          = #{file,jdbcType=LONGVARBINARY}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.sl.tmpp.common.entity.ExecutePlan">
        update execute_plan
        set year          = #{year,jdbcType=VARCHAR},
            term          = #{term,jdbcType=BIT},
            grade         = #{grade,jdbcType=INTEGER},
            status        = #{status,jdbcType=BIT},
            file_type     = #{fileType,jdbcType=VARCHAR},
            level_id      = #{levelId,jdbcType=VARCHAR},
            department_id = #{departmentId,jdbcType=VARCHAR},
            gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP},
            gmt_create    = #{gmtCreate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectAll" resultMap="ExecutePlanDTOResultMap">
        select execute_plan.id,
               execute_plan.year,
               execute_plan.term,
               execute_plan.grade,
               execute_plan.status,
               level.educational_level   as level,
               department.name           as department,
               execute_plan.gmt_modified as gmt_finished,
               execute_plan.gmt_create
        from execute_plan
                 inner join level on level.id = execute_plan.level_id
                 inner join department on department.id = execute_plan.department_id
    </select>
    <select id="selectDistinctYear" resultType="java.lang.String">
        select DISTINCT year
        from execute_plan
    </select>
    <select id="selectTermByYear" resultType="java.lang.Integer">
        select distinct term
        from execute_plan
        where year = #{year,jdbcType=VARCHAR}
    </select>
    <select id="selectFileById" resultMap="ResultMapWithBLOBsAndFileType">
        select file_type,
               file
        from execute_plan
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByStatus" resultMap="ExecutePlanDTOResultMap">
        select execute_plan.id,
               execute_plan.year,
               execute_plan.term,
               execute_plan.grade,
               execute_plan.status,
               level.educational_level   as level,
               department.name           as department,
               execute_plan.gmt_modified as gmt_finished,
               execute_plan.gmt_create
        from execute_plan
                 inner join level on level.id = execute_plan.level_id
                 inner join department on department.id = execute_plan.department_id
        where execute_plan.status = ${status}
    </select>
</mapper>