<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sl.tmpp.common.mapper.ExportMapper">
    <resultMap id="PurchasingMaterialsMap" type="top.sl.tmpp.common.pojo.PurchasingMaterials">
        <constructor>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="clazz_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="teacher_book_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="is_buy_book" javaType="java.lang.Byte" jdbcType="BIT"/>
            <arg column="clazzNumber" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="StudentReceiveBookMap" type="top.sl.tmpp.common.pojo.StudentReceiveBook">
        <constructor>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="clazz" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="clazz_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        </constructor>
    </resultMap>
    <resultMap id="PublisherStatisticsMap" type="top.sl.tmpp.common.pojo.PublisherStatistics">
        <constructor>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="total" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <resultMap id="SubscriptionBookMap" type="top.sl.tmpp.common.pojo.SubscriptionBook">
        <constructor>
            <arg column="department_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="start_pro" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="publication_date" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="award_Information" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="grade" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_buy_book" javaType="java.lang.Byte" jdbcType="BIT"/>
            <arg column="subscriber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="subscriber_tel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="TeacherReceiveBookMap" type="top.sl.tmpp.common.pojo.TeacherReceiveBook">
        <constructor>
            <arg column="department_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="start_pro" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="publication_date" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="award_Information" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="grade" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="clazz" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="teacher_book_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="subscriber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="SubscriptionBookPlanMap" type="top.sl.tmpp.common.pojo.SubscriptionBookPlan">
        <constructor>
            <arg column="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="isbn" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="text_book_category" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="press" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="unit_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="teacher_book_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="award_Information" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="publication_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="subscriber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="subscriber_tel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_book_purchase" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <select id="getPurchasingMaterials" resultMap="PurchasingMaterialsMap">
        SELECT text_book_name,
               press,
               author,
               isbn,
               unit_price,
               SUM(clazz_number)                                                    AS number,
               teacher_book_number,
               is_buy_book,
               SUM(plan.clazz_number) + book.teacher_book_number + book.is_buy_book AS total
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan_book.plan_id = plan.id
        WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
        GROUP BY isbn
    </select>
    <select id="selectYear" resultType="java.lang.String">
        select year
        from execute_plan
        where id = #{executePlanId,jdbcType=VARCHAR}
    </select>
    <select id="selectTerm" resultType="java.lang.String">
        select term
        from execute_plan
        where id = #{executePlanId,jdbcType=VARCHAR}
    </select>
    <select id="selectClazz" resultType="java.lang.String">
        SELECT DISTINCT clazz
        FROM plan
        WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
    </select>
    <select id="selectStudentReceiveBooks" resultMap="StudentReceiveBookMap">
        SELECT `name`
                ,
               clazz,
               isbn,
               text_book_name,
               press,
               unit_price,
               clazz_number,
               discount
        FROM colleges
                 INNER JOIN (
            SELECT colleges_id,
                   clazz,
                   isbn,
                   text_book_name,
                   press,
                   unit_price,
                   clazz_number,
                   discount
            FROM book
                     INNER JOIN plan_book ON plan_book.book_id = book.id
                     INNER JOIN plan ON plan.id = plan_book.plan_id
            WHERE plan.clazz = #{clazz,jdbcType=VARCHAR}
            GROUP BY book.id
        ) AS a ON colleges.id = a.colleges_id

    </select>
    <select id="selectPublishingHouseStatistics" resultMap="PublisherStatisticsMap">
        SELECT NAME
                ,
               press,
               SUM(clazz_number + teacher_book_number + is_buy_book) AS total
        FROM colleges
                 INNER JOIN (
            SELECT colleges_id,
                   plan.clazz_number,
                   book.press,
                   is_buy_book,
                   teacher_book_number
            FROM book
                     INNER JOIN plan_book ON plan_book.book_id = book.id
                     INNER JOIN plan ON plan.id = plan_book.plan_id
            WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
            GROUP BY book.id
        ) AS a ON colleges.id = a.colleges_id
        GROUP BY press
    </select>
    <select id="selectSubscriptionBook" resultMap="SubscriptionBookMap">
        SELECT department.`name`,
               course_name,
               IF(type = 0, "考试", "考察") AS type,
               start_pro,
               text_book_name,
               author,
               press,
               isbn,
               publication_date,
               award_Information,
               unit_price,
               grade,
               is_buy_book,
               subscriber,
               subscriber_tel,
               reason
        FROM execute_plan,
             department,
             book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan.id = plan_book.plan_id
        WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
          AND book.is_buy_book = true
        GROUP BY book.id
    </select>
    <select id="selectTeacherReceiveBook" resultMap="TeacherReceiveBookMap">
        SELECT department.`name`,
               course_name,
               IF
                   (type = 0, "考试", "考察") AS type,
               start_pro,
               text_book_name,
               author,
               press,
               isbn,
               publication_date,
               award_Information,
               unit_price,
               grade,
               teacher_book_number,
               clazz,
               subscriber
        FROM execute_plan,
             department,
             book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan.id = plan_book.plan_id
        WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
          AND book.teacher_book_number > 0
        GROUP BY book.id
    </select>
    <select id="selectSubscriptionBookPlan" resultMap="SubscriptionBookPlanMap">
        SELECT course_code as code,
               course_name as name,
               isbn,
               text_book_name,
               text_book_category,
               press,
               author,
               unit_price,
               teacher_book_number,
               discount,
               award_Information,
               publication_date,
               subscriber,
               subscriber_tel,
               is_book_purchase,
               reason
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan.id = plan_book.plan_id
        WHERE book.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
        GROUP BY book.isbn, book.reason,
                 plan.course_code
    </select>
    <select id="selectTheTotalCourses" resultType="java.lang.String">
        SELECT course_name
        FROM plan
        WHERE execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
          AND type = 0
        GROUP BY course_name;
    </select>
    <select id="selectTheStudyCourses" resultType="java.lang.String">
        SELECT course_name
        FROM plan
        WHERE execute_plan_id = #{executePlanId,jdbcType=VARCHAR}
          AND type = 1
        GROUP BY course_name;
    </select>
    <select id="selectExaminationCourse" resultType="java.lang.String">
        SELECT course_code
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan.id = plan_book.plan_id
        WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}

          AND book.is_book_purchase = 1
          AND plan.type = 0
        GROUP BY course_code
    </select>
    <select id="selectStudyClass" resultType="java.lang.String">
        SELECT course_code
        FROM book
                 INNER JOIN plan_book ON plan_book.book_id = book.id
                 INNER JOIN plan ON plan.id = plan_book.plan_id
        WHERE plan.execute_plan_id = #{executePlanId,jdbcType=VARCHAR}

          AND book.is_book_purchase = 1
          AND plan.type = 1
        GROUP BY course_code
    </select>
    <select id="selectLevel" resultType="java.lang.String">
        SELECT educational_level
        FROM level
                 INNER JOIN execute_plan ON `level`.id = execute_plan.level_id
        WHERE execute_plan.id = #{executePlanId,jdbcType=VARCHAR}
    </select>
    <select id="selectBookMaterials" resultType="top.sl.tmpp.common.pojo.BookMaterials">
        SELECT
        department.NAME AS departmentName,
        colleges.NAME AS collegesName,
        plan.start_pro AS startPro,
        course_code AS courseCode,
        course_name AS courseName,
        book.text_book_name AS textBookName,
        book.isbn AS isbn,
        book.text_book_category AS textBookCategory,
        book.press AS press,
        book.author AS author,
        book.unit_price AS unitPrice,
        book.award_Information AS awardInformation,
        book.publication_date AS publicationDate,
        execute_plan.grade AS grade,
        plan.clazz AS clazz,
        plan.clazz_number AS clazzNumber,
        book.teacher_book_number AS teacherBookNumber,
        book.is_buy_book AS isBuyBook,
        book.subscriber AS subscriber,
        book.subscriber_tel AS subscriberTel,
        book.STATUS AS STATUS,
        book.is_book_purchase AS isBookPurchase,
        book.reason AS reason,
        plan.remark AS remark
        FROM
        book
        INNER JOIN plan_book ON plan_book.book_id = book.id
        INNER JOIN plan ON plan.id = plan_book.plan_id
        INNER JOIN execute_plan ON execute_plan.id = plan.execute_plan_id
        INNER JOIN department ON department.id = execute_plan.department_id
        INNER JOIN colleges ON plan.colleges_id = colleges.id
        <where>
            <if test="college != null">
                plan.colleges_id = #{college,jdbcType=VARCHAR}
            </if>
            <if test="teachingDepartment != null">
                and execute_plan.department_id = #{teachingDepartment,jdbcType=VARCHAR}
            </if>
            <if test="year != null">
                and execute_plan.`year` = #{year,jdbcType=VARCHAR}
            </if>
            <if test="term != null">
                and execute_plan.term = #{term,jdbcType=BIT}
            </if>
        </where>
    </select>
</mapper>